.sin-guion a {
    text-decoration:none;
}

.bg-navbar {
    background-color: #ffffff;
}

/* .logo{
    color: #dc3545;
} */

.banner {
position: absolute;
height: 202px;
width: 100%;
left: 0px;
top: 76px;
background: #686868;
}

.titulo{
font-family: Rubik;
font-style: normal;
font-size: 30px;
line-height: 36px;
color: #FFFFFF; 
position: absolute;
height: 46px;
left: 7%;
top: 84px;
}

.sin-borde {
    border-left: none;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    background-color: #F5F5F5 !important;

}

.borde-redondeado{
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
    border-right: none !important;
    background-color: #F5F5F5 !important;
}

.buscador {
position: relative;
top: 181px;
left: auto;
right: auto;


}

.show > .nav-link,
.nav-link.active {
color: #FFFFFF;
}

.cont-nav {
    z-index: 1000;
    background-color: #FFFFFF;
}

/* .cont-link {
    border: 1px solid #686868;
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
} */


.navbar>.container{
    justify-content: flex-start;
}

/* @media only screen and (max-width: 991px) {
.cont-nav {
    z-index: none;
}
} */