.sin-guion a {
    text-decoration:none;
}

.bg-navbar {
    background-color: #ffffff;
}


.navbar-light .navbar-brand {
    color:#FF3838 !important;
}

.banner {
position: absolute;
height: 202px;
width: 100%;
left: 0px;
top: 76px;
background-image: url("https://source.unsplash.com/random/1440x202?sig=1" );


}

.titulo{
font-family: Rubik;
font-style: normal;
font-size: 30px;
line-height: 36px;
color: #FFFFFF; 
position: absolute;
height: 46px;
left: 6%;
top: 84px;
}

.sin-borde {
    border-left: none;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    background-color: #F5F5F5 !important;

}

.sin-borde img {
    border-radius: 1rem;
}

.borde-redondeado{
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
    border-right: none !important;
    background-color: #F5F5F5 !important;
}

.buscador {
position: relative;
top: 181px;
left: auto;
right: auto;


}

.show > .nav-link,
.nav-link.active {
color: #FFFFFF;
}

.cont-nav {
    z-index: 1000;
    background-color: #FFFFFF;
}

#tituloSegundo{
    position: relative;
    margin-top: 240px;
}

#imgProducto  div{
    padding-bottom: 10px;
    width: auto;
   
}

#imgProducto, #imgBanner2 , #imgProductoDos {
    text-align: center;
}


.btn-img {
    position: absolute;

}

.card-img  {
    border-radius: 1.5rem !important;
    

}

#imgProductoDos div{
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  
}

#footer{
    background-color: #424242;
    width: 100%;
    height: 140px;
    position: unset;
    bottom: 0px;
  
}

.logo-footer {
   
    color: #FFFFFF; 
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    margin-top: 40px;
    
   
}

#hr {
    height: 2px;
    color: #ffffff;
    width: 70%;
    opacity: 0.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

#iconosRedes {
    width: 150px;
    margin-left: 43%;

}

.imagenes-formato {
    border-radius: 1rem;
}

#contenido {
    padding-bottom: 200px;
  
}

#btnFavorito {
    border-radius: 2.5rem;
    border: 0;
    opacity: 1.2;
    margin-left: auto;
    margin-right: auto;
    overflow-anchor: none;
    padding: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.582);
    cursor: pointer;
    width: 40px;
    /* left: 45%;
  */
}

.card {
    background-color: none !important;
}

#cardImg1 , #cardImg2, #cardImg3, #cardImg4, #cardImg5 {
    border: none;
 
  
}

#cardImg4, #cardImg5 {
    width: 550px;
    height: 350px;
}



/*estilos de scroll doble*/


.sc {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    height: 0px;
   
}

.scroll::-webkit-scrollbar-thumb {
    background: #ff3838d8;
    border-radius: 5px;
    border-left: 1px solid #868686;
}

#scroll-2::-webkit-scrollbar{
    width: 8px;
    height: 0px;
}

.scroll::-moz-srollbar {
    width: 8px;
    height: 0px;
}

.scroll::-moz-srollbar-thumb {
    background: #FF3838;
    border-radius: 5px;
}

.scroll {
    width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fcfcfc;
    margin: 10%;
}

.item {
    width: 80%;
    height: 400px;
    margin: 10% auto;
}
